.submit-btn {
    width: 260px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    background-color: #2be080;
    border: none;
    border-radius: 3px;
    transition: opacity .3s ease;
    cursor: pointer;
}

.submit-btn:hover {
    opacity: .8;
}


@media screen and (min-width: 768px) {
.submit-btn {
    width: 396px;
    height: 45px;
    font-size: 14px;
}
}
