html {
    scroll-behavior: smooth;
}

.root {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #ffffff;
    color: #000000;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

@media screen and (min-width: 768px) {
    .root {
        min-width: 768px;
    }
}

@media screen and (min-width: 1280px) {
    .root {
        min-width: 1280px;
    }
}
